<h1>Editing Accounting Transaction</h1>

<%= render 'form', accounting_transaction: @accounting_transaction %>

<%= link_to 'Show', @accounting_transaction %> |
<%= link_to 'Back', accounting_transactions_path %>
