<div class="card o-hidden border-0 shadow-lg my-5 ">
  <div class="card-header bg-gradient-secondary text-white">
    <h1 class="h6 m-0 font-weight-bold">
      Gestor de CDUP
    </h1> 

  </div>
  <div class="card-body">
    <p>
      El Gestor de CDUP es una pequeña app para gestionar nuestro club. Nuestra finalidad es darle la facilidad nuestros miembros de acceder a información importante sobre nuestro club.
      Las funcionalidades de esta aplicación se iran añadiendo según necesidad. Por el momento contamos con estas:
    </p> 
    <div class="list-group">
      <a href='/accounting' class="list-group-item list-group-item-action text-secondary"> Cuentas por Mes</a>
    </div>
  </div>
  
</div>