<%= form_with(model: accounting_event, local: true) do |form| %>
  <% if accounting_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accounting_event.errors.count, "error") %> prohibited this accounting_event from being saved:</h2>

      <ul>
        <% accounting_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
